# ==============================================================================
# 👾 GrindLife - .gitattributes
# ==============================================================================

* text=auto eol=lf

# Ocultar TODO el contenido generado por Flutter apuntando a la carpeta frontend
frontend/android/**/* linguist-vendored
frontend/ios/**/* linguist-vendored
frontend/web/**/* linguist-vendored
frontend/windows/**/* linguist-vendored
frontend/linux/**/* linguist-vendored
frontend/macos/**/* linguist-vendored

*.json linguist-vendored
*.yaml linguist-vendored
*.yml linguist-vendored
*.md linguist-documentation
*.txt linguist-documentation
.gitignore linguist-vendored
.gitattributes linguist-vendored